{
  "extends": ["eslint:recommended", "plugin:react/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["react", "@typescript-eslint", "unused-imports"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "unused-imports/no-unused-imports": ["warn"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "react/jsx-tag-spacing": "warn",
    "no-unused-vars": "warn",

    "react/self-closing-comp": "error",
    /* <div></div> --> <div/> */

    "no-multi-spaces": ["error"],
    "no-unneeded-ternary": ["error"],
    "@typescript-eslint/consistent-type-imports": ["error", { "fixStyle": "inline-type-imports" }],
    "@typescript-eslint/no-extra-semi": ["off"],
    "prefer-const": "error",

    "no-console": "warn",
    "no-trailing-spaces": ["error"],
    "quotes": ["error", "single"],
    "jsx-quotes": ["warn", "prefer-double"]
  }
}
