{
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "html.format.wrapAttributes": "force-aligned"
}