a {
  text-decoration: none;
  text-transform: none;
  color: inherit !important;
}
*::selection {
  background-color: #3394d0;
  color: darkgrey;
}
img {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  margin: 0;
}
