$background-body-dark: #0f1423;
$layout-dark: #1a1f2d;

$primary-text: #fff;
$secondary-text: #a6a6a6;

$color-gray: #d3d3d3;
$color-red: red;
$color-green: #21ec21;

// fonts
$fs-base: 16px;

$fs-xxs: 11px;
$fs-xs: 12px;
$fs-s: 14px;
$fs-m: $fs-base;
$fs-l: 22px;
$fs-xl: 24px;
$fs-xxl: 26px;
