@import "main.scss";

body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f1423;
  color: $primary-text;
  font-size: $fs-base;
}
