@import "../../styles/base";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1920px;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
