.link {
  &:hover {
    background-color: lighten(#1a1f2d, 15%);
  }
}
.active {
  background-color: lighten(#1a1f2d, 15%);
}
.icon {
  &:hover {
    background-color: lighten(#1a1f2d, 15%);
    color: white;
  }
}
