input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}
.ant-input-number .ant-input-number-handler-wrap {
  opacity: 1;
}
.ant-select-multiple.ant-select-show-arrow .ant-select-selector {
  height: 100%;
}
.ant-select-multiple .ant-select-selection-overflow {
  flex-wrap: none;
  overflow-x: scroll;
}
.ant-form-item {
  margin: 0;
}
