.cookie-banner {
  transform: scale(0.9);
}

.cookie-banner-active {
  opacity: 1;
  transform: translateY(300px);
  transition: opacity 300ms, transform 1000ms;
}

.cookie-banner-exit {
}

.cookie-banner-exit-active {
  transform: translateY(300px);
  transition: transform 1000ms ease;
}
